# dependencies
node_modules/

# build output
dist/
server/dist/
web/dist/

# env
.env
.env.local
*.local

# logs
logs/
*.log
npm-debug.log*

# editor / os
.idea/
.vscode/
.DS_Store
Thumbs.db

# uploads
server/uploads/

# shared build output
shared/dist/
shared/src/*.js
shared/src/*.js.map
